body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Setting the background color of the whole website*/
html {
  background-color: #B2B2B2;
  height: 100%;
}
/* ###################NAVBAR########################### */
/*Setting the size, color & layout of the navbar*/
.navBar {
  background: #00ABB3;
  height: 70px;
  text-align: center;
}

.title {
  margin: 0;
  width: 200px;
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  color: #B2B2B2;
}

.homeLink {
  display: inline-block;
}

.loginLink {
  display: inline-block;
}

/*This is setting a 20px gap between the navbar & first card. Can explain in person if need be*/
.navbarSpacer {
  height: 20px;
}

/* #################HomePage######################### */
/*Setting the size, color & layout of the cards*/
.cards {
  width: 80%;
  margin: 0px auto 25px auto;
  background: #3C4048;
  border-radius: 45px;
  height: 250px;
  opacity: 100%;
}

/*Adjusting the card image*/
.cardImage {
  height: 250px;
  width: 245px;
  float: right;
  border-radius: 40px;
  object-fit: cover;
  /* transition: 0.4s ease; */
}

.cardImage img:hover{
  transform:scale(1.3);
  transition:1s ease-in ;
}
/*This is here so there is no white bar at the bottom of the page from the card btm-margin*/
.footerSpacer {
  height: 20px;
}

.cardTitle{
  font-size: 210%;
  color: #00ABB3;
  margin-left: 40px;
}


/*##############ProjectPage###################*/
/*moved everything on the product page to the center*/
.projectPage {
  text-align: center;
  background-color: #B2B2B2;
}

.projectTitle {
  margin-top: 0px;
}

/*Image for the project page*/
.projectImage {
  max-width: 60%;
  max-height: 60%;
}

.loginForm{
  margin-left: 42%;
}
